<% if current_user.errors.any? %>
  <div class="alert alert-danger">
    <% current_user.errors.full_messages.each do |error| %>
      <p><%= error %>!</p>
    <% end %>
  </div>
<% end %>

<h4>Update your Info!</h4>

<%= form_for current_user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username, class: "form-control" %>

  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control"%>

  <hr>

  <%= f.submit class: 'btn btn-default btn-success' %>
<% end %>
