<% if @empty_field %>
  <%= @empty_field %>!
<% end %>

<% current_user.errors.full_messages.each do |error| %>
  <%= error %>!
<% end %>

<h4>Update your password!</h4>

<%= form_for current_user, :url => edit_password_user_path do |f| %>
  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <hr>

  <%= f.submit "Update Password", class: 'btn btn-default btn-success' %>
<% end %>
