<% current_user.errors.full_messages.each do |error| %>
  <%= error %>!
<% end %>

<h4>Update your Info!</h4>

<%= form_for current_user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username, class: "form-control" %>

  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control"%>

  <!-- <%= f.hidden_field :password, value: "#{current_user.password}" %>
  <%= f.hidden_field :password_confirmation, value: "#{current_user.password}" %> -->

  <hr>

  <%= f.submit class: 'btn btn-default btn-success' %>
<% end %>
